
/*-----------------------------------------------------------------------側欄---*/

aside{left:-305px;width:300px}

/*-----------------------------------------------------------------------搜尋---*/

#search-text{width:240px}

/*-----------------------------------------------------------------------頁首---*/

article header{background:#272F3A;border-bottom:1px solid #1D212A;padding:14px 0 0 0}
header .tool,#aside-ctrl{width:10%}
#aside-ctrl a{position:relative;top:3px}
#tool-ctrl{position:relative;top:2px}
#tool-list{display:none;position:absolute;width:175px;top:60px;right:10px;background:#20BBD7;z-index:5;border-radius:5px;
}
#tool-list a{display:block;width:100%;height:55px;padding:15px 0 0 0;
border-top:1px solid #36CBE6;border-bottom:1px solid #0CA5C1}
#tool-list a:nth-child(1){border-top:none}

/*-----------------------------------------------------------------------留言---*/

#msg-list .box{width:90%;margin:25px}

/*-----------------------------------------------------------------------留言左欄---*/

.box .avator{text-align:center}
.box .img-border{width:59px;height:59px}
.box .img-border img{width:55px;height:55px}

/*-----------------------------------------------------------------------留言右欄---*/

#msg-list .content{float:right;width:78%}
#msg-list .text .tag{padding:0 0 10px 0}
#msg-list .text{padding:10px}
#msg-list .text p{font-size:13px}
#msg-list .text .cc{padding:20px 0 0 0}
#msg-list .text:before{background:url(../images/arr-left.png);width:12px;height:28px;top:12px;left:-12px}

/*-----------------------------------------------------------------------發文---*/

#post{width:100%;border-top:1px solid #222;padding:10px;position:fixed;bottom:0;z-index:5}

/*-----------------------------------------------------------------------原PO---*/

#original-po .box{padding:8% 0 5% 0}
#original-po .text p{font-size:14px}

/*-----------------------------------------------------------------------回覆---*/

#msg-show .box{width:90%;margin:30px auto}
#msg-show .content{float:right;width:78%}
#msg-show .text{padding:10px}
#msg-show .text p{font-size:13px}
#msg-show .text:before{background:url(../images/arr-left.png);width:12px;height:28px;top:6px;left:-11px;
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
}

#msg-show .img-border{width:39px;height:39px}
#msg-show .img-border img{width:35px;height:35px}

/*-----------------------------------------------------------------------主題---*/

#topic-list .box{float:none;margin:20px auto;width:90%}
#topic-list .box-show,
#topic-list .box-edit,
#topic-list .box-add{padding:10px}
#topic-list .box-show .color{width:5%}
#topic-list .box-show .name{width:80%}
#topic-list .box-show .tool{width:15%}

#topic-list .box-add{background:#333A42;position:fixed;bottom:0px;width:100%;border:none;border-radius:0;margin:0}

/*-----------------------------------------------------------------------使用者---*/

#user-list{border-top:1px solid #878E94}

#user-list .list .avator img{border-radius:50%;width:45px;height:45px;border:1px solid #ddd}
#user-list .list .avator{width:15%}
#user-list .list .name{width:15%}
#user-list .list .userid{width:60%}
#user-list .list .delete{width:10%}

#user-list .add{width:90%;max-width:800px;margin:20px auto 0 auto;text-align:center;}
#user-list .add a{font:700 15px 微軟正黑體,"verdana"!important;color:#353940;display:inline-block;background:url(../images/active.jpg) 0 0 repeat-x ;
text-shadow:0 1px 0 #fff;font:300 13px verdana;height:40px;border-radius:5px;padding:10px 0 0 0;width:100%}

/*-----------------------------------------------------------------------使用者新增&編輯---*/

#user-edit .avator{margin:5% auto 10% auto}
#user-edit .text{width:50%;float:left}