
/*-----------------------------------------------------------------------側欄---*/

aside{left:0;width:300px;box-shadow:2px 0 5px #232A34}

/*-----------------------------------------------------------------------搜尋---*/

#search-text{width:240px}

/*-----------------------------------------------------------------------頁身---*/

article{padding:0 0 0 300px}

/*-----------------------------------------------------------------------頁首---*/

article header{border-bottom:1px solid #333A42;padding:12px 0 0 0}

#aside-ctrl,#tool-ctrl{display:none}
header h1{width:190px;text-align:left;padding:5px 0 0 50px}
header .tool{width:350px;text-align:right}
#tool-list a{margin:0 15px 0 0;background:#878E94;border:1px solid #555859;border-radius:10px;padding:4px 10px}
#tool-list a:hover{background:#555859}

/*-----------------------------------------------------------------------留言---*/

#msg-list{border-top:1px solid #878E94}
.box{width:90%;max-width:600px;margin:25px}

/*-----------------------------------------------------------------------留言左欄---*/

.box .avator{text-align:center}
.box .img-border{width:69px;height:69px}
.box .img-border img{width:65px;height:65px}

/*-----------------------------------------------------------------------留言右欄---*/

.box .content{float:right;width:78%}
.box .text:before{background:image-url("arr-left.png");width:12px;height:28px;top:12px;left:-12px}

/*-----------------------------------------------------------------------發文---*/

#post{width:90%;max-width:575px;margin:25px 25px 25px 50px;
border:1px solid #222;border-radius:5px;padding:10px;float:left}
