
/*-----------------------------------------------------------------------側欄---*/

aside{left:-305px;width:300px}

/*-----------------------------------------------------------------------搜尋---*/

#search-text{width:240px}

/*-----------------------------------------------------------------------頁首---*/

article header{background:#272F3A;border-bottom:1px solid #1D212A;padding:14px 0 0 0}
header .tool,#aside-ctrl{width:10%}
#aside-ctrl a{position:relative;top:3px}
#tool-ctrl{position:relative;top:2px}
#tool-list{display:none;position:absolute;width:175px;top:60px;right:10px;background:#333A42;z-index:5;border-radius:5px;
}
#tool-list a{display:block;width:100%;height:55px;padding:15px 0 0 0;
border-top:1px solid #515B67;border-bottom:1px solid #1D212A}

/*-----------------------------------------------------------------------留言---*/

#msg-list{padding:0 0 75px 0}
.box{width:90%;margin:25px}

/*-----------------------------------------------------------------------留言左欄---*/

.box .avator{text-align:center}
.box .img-border{width:59px;height:59px}
.box .img-border img{width:55px;height:55px}

/*-----------------------------------------------------------------------留言右欄---*/

.box .content{float:right;width:78%}
.box .text:before{background:image-url("arr-left.png");width:12px;height:28px;top:12px;left:-12px}

/*-----------------------------------------------------------------------發文---*/

#post{width:100%;border-top:1px solid #222;padding:10px;position:fixed;bottom:0;z-index:5}

