var addSub = $('<div class="ticket" data-del="<%= @subscribe.id  %>">');

$("#topic").append(
	addSub.html('<table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="del"><a href="/subscribes/<%= @subscribe.id  %>" data-method="delete" data-remote="true" rel="nofollow"></a></td><td class="topic-name"><a href="/tickets/topics/<%= @subscribe.topic_id  %>"><%= @subscribe.name  %></a></td><td class="notice"></td></tr></tbody></table>')
	.css("position", "relative")
	.css("left", "-300px")
	.animate({left: 0}, 500)
);